.chat-container {
  width: 350px;
  box-shadow: -8px 9px 15px rgb(0 0 0 / 37%);
  box-sizing: border-box;
  position: fixed;
  right: 20px;
  background: #cfd8dc;
  border-radius: 10px;
  bottom: 82px;
  height: 500px;
  bottom: 38px;
  z-index: 9999;
}

.close-bot {
  position: absolute;
  right: -15px;
  top: -15px;
  background: #fe6016;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  cursor: pointer;
}
.close-bot:focus {
  outline: none;
}
.chat-body {
  overflow: scroll;
  height: 450px;
  scroll-behavior: smooth;
}

.chat-container .chat-start {
  padding: 8px 20px;
  display: block;
  background: #c4c1c1;
  border-radius: 5px;
  color: #f26500;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  margin: 15px auto;
  width: fit-content;
}

.chat-wrapper {
  clear: both;
  margin: 0 15px 15px;
}
.chat-wrapper .chat-btn {
  padding: 8px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  border: 2px solid #fe6016;
  color: #636161;
  background: #cfd8dc;
  cursor: pointer;
}

.chat-wrapper .chat-btn:hover {
  color: #fff;
  background: #fe6016;
}
.chat-wrapper .chat-btn:focus {
  outline: none;
}

.chat-bubble-user,
.chat-bubble-bot {
  box-shadow: -1px 5px 16px rgb(0 0 0 / 37%);
  margin: 0 0 15px;
  padding: 10px 15px;
  font-size: 14px;
  white-space: pre-wrap;
}

.chat-bubble-user {
  background: #38413b;
  color: #ffffff;
  float: right;
  border-radius: 10px 0 10px 10px;
}
.chat-bubble-bot {
  background: #fff;
  color: #636161;
  float: left;
  border-radius: 0 10px 10px 10px;
}

/* ***  Footer  *** */
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-footer .input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 20px;
}

.chat-footer .input:focus {
  outline: none;
}

.chat-footer .chat-send-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.chat-footer .chat-send-btn:focus {
  outline: none;
}

.chat-footer .chat-send-btn svg {
  height: 25px;
  width: 25px;
  fill: #f26500;
}

.open-chatbot {
  font-size: 16px;
  cursor: pointer;
  float: right;
  padding: 12px;
  color: white;
  background-color: rgb(255, 126, 41);
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: -8px 6px 16px 0 rgb(0 0 0 / 48%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.open-chatbot:focus {
  outline: none;
}
